*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.postman/resources.yaml
postman/collections/api-gateway/.resources/definition.yaml
postman/collections/api-gateway/Auth/Login.request.yaml
postman/collections/api-gateway/Auth/.resources/Login.resources/examples/Login error.example.yaml
postman/collections/api-gateway/Auth/.resources/Login.resources/examples/Login success.example.yaml
postman/collections/api-gateway/Auth/.resources/Login.resources/examples/Login validation error.example.yaml
postman/collections/api-gateway/User/Get Authenticated User.request.yaml
postman/collections/api-gateway/User/.resources/Get Authenticated User.resources/examples/Get user success.example.yaml
postman/collections/api-gateway/User/.resources/Get Authenticated User.resources/examples/Get user unauthenticated.example.yaml
postman/globals/workspace.globals.yaml
